@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url(variables.css);
*{  
    padding: 0;
    margin: 4px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
body{
    background: var(--color-primary);
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 1fr) ;
    width: 61%;
    height: 666px;
    margin-top: 2%;
    margin-left: 20%;
    background: white;
    grid-gap: px;
}
.item_1{
    margin: 25px;
    margin-top: 72px;
}
.title{
    font-size: 27px;
    font-weight: bold;
    line-height: 40px;
}
.text{
    font-size: 15px;
    margin-top: 9px;
}

.boton{
    font-size: 12px;
    border: none;
    color: var(--color-primary);
    background-color: var(--color-botton);
    border-radius: 9px;
    width: 100px;
    height: 30px;
    margin-top: 12px;
}
.imagen{
    height: 288px;
}
.item_2{
    margin: 3.5%;
}
.item_3{
    margin-top: 70px;
}
.num{
    font-size: 24px;
    color: var(--color-number);
}
.twins{
    height: 230px;
    display: flex;
    justify-content: space-around;
}
